
@font-face {
    font-family: 'Imrans';
    src: url('imrans.ttf');
}

body {
  font-family: 'Imrans';
  font-size: 100px;
}

h1 {
  font-family: sans-serif;
  color: rgb(41, 105, 195);
  text-align: center;
  font-size: 0.2em;
  font-weight: bold;
  clear: both;
}

#board {
  position: absolute;
  width: 75%;
  height: 180px;
  margin: auto;
  text-align: center;
  top: 40px;
  right: 0;
  left: 0;
  padding: 30;
  border-radius: 9;
  border: 3px dashed rgb(41, 105, 195);
  background-color: rgba(41, 105, 195, 0.15);
}

#board p {
  position: absolute;
  margin: 0 5%;
  top: 0;
  font-size: 3em;
}

#board p.medium {
  font-size: 2.5em;
}

#board p.small {
  font-size: 2em;
}

#board p::selection {
  background: rgba(0, 0, 0, 0);
}

#board p::-moz-selection {
  background: rgba(0, 0, 0, 0);
}

#board hr {
  width: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 180px auto;
  border: 2px solid rgb(41, 105, 195);
}

#speaker {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 0;
}

#speaker li {
  float: left;
}

#speaker a {
  text-decoration: none;
}

#speaker img {
  height: 40px;
  margin: 0 0 0 10px;
  padding: 0;
}

#cleaner {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

#cleaner img {
  height: 35px;
}

#space {
  position: absolute;
  bottom: 10px;
  left: 15px;
}

#space img {
  height: 35px;
}

#setup {
  position: absolute;
  top: 10px;
  left: 15px;
}

#setup img {
  height: 30px;
}

#settings {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 75%;
  max-width: 420px;
  height: 100%;
  background-color: rgba(14, 40, 75, 0.85);
}

#settings form {
  padding: 25px;
}

#settings button {
  width: 40%;
  position: absolute;
  margin: 30px auto;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgb(14, 40, 75);
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.15em;
  padding: 8px;
}

#settings input {
  display: block;
  float: left;
  clear: both;
  color: white;
  margin: 15px auto;
  width: 100%;
  left: 0;
  right: 0;
  background-color: rgba(14, 40, 75, 0);
  border: 1px solid white;
  border-radius: 3px;
  font-family: 'Imrans';
  font-size: 0.5em;
}

#settings label {
  margin: 15px 0 0 0;
  display: block;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 0.2em;
  color: white;
}

#settings label.switchLabel {
  float: left;
}

#settings label.switch {
  float: right;
  margin: 8px;
}

#settings alphabet {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  background-color: yellow;
}

#settings ul {
  margin: 0;
  padding: 10px 20px;
  text-align: center;
  clear: both;
}

#settings ul li {
  font-size: 0.6em;
  display: inline-block;
  color: rgb(14, 40, 75);
  background-color: white;
  margin: 5px;
  padding: 0 10px;
  border-radius: 10px;
}

#settings ul li.off {
  color: white;
  background-color: rgba(14, 40, 75, 0);
  border: 1px solid white;
}

#rack {
  position: absolute;
  width: 100%;
  margin: auto;
  text-align: center;
  bottom: 40px;
  right: 0;
  left: 0;
}

#rack ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
}

#rack ul li {
  display: inline-block;
  color: white;
  font-size: 0.9em;
  margin: 0 10px;
  padding: 0 25px;
  background-color: rgb(41, 105, 195);
  border-radius: 10px;
}

#rack ul.syllable li {
  padding: 0 15px;
}

#rack ul.consonants li {
  color: rgb(41, 105, 195);
  background-color: white;
  border: 1px solid rgb(41, 105, 195);
}

#rack ul.consonants li.on {
  /*background-color: rgba(41, 105, 195, 0.3);*/
  color: white;
  background-color: rgb(41, 105, 195);
}

.syllable {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 600) {
  #board {
    height: 120px;
  }
  #board p {
    font-size: 2em;
  }
  #board p.medium {
    font-size: 1.8em;
  }
  #board p.small {
    font-size: 1.6em;
  }
  #board hr {
    margin: 120px auto;
  }
}

@media only screen and (max-width: 450) {
  #board {
    height: 100px !important;
  }
  #board p {
    font-size: 1.6em !important;
  }
  #board p.medium {
    font-size: 1.45em !important;
  }
  #board p.small {
    font-size: 1.3em !important;
  }
  #board hr {
    margin: 100px auto !important;
  }
  #rack {
    bottom: 20px;
  }
  #rack ul {
    margin: 5px;
  }
  #rack ul li {
    margin: 5px;
    font-size: 0.6em;
    padding: 0 14px;
  }
  #rack ul.syllable li {
    font-size: 0.5em;
    padding: 0 5px;
  }
  #settings ul {
    padding: 10px 0;
  }
  #settings ul li {
    margin: 2px;
    font-size: 0.24em;
  }
}
